/* margin-top */
.mt-100{
    margin-top: 100px;
}
.mt-50{
    margin-top: 50px;
}
.mt-40{
    margin-top: 40px;
}
.mt-30{
    margin-top: 30px;
}
.mt-20{
    margin-top: 20px;
}
.mt-100{
    margin-top: 100px;
}
.mt-100{
    margin-top: 100px;
}
.mt-200{
    margin-top: 100px;
}
/* margin-bottom */
.mb-80{
    margin-bottom: 80px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-10{
    margin-bottom: 10px;
}