@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
  font-size: 20px;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #8BD9C5;
  border: none;
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 20px;
}
.btn-one{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #8BD9C5;
  border: none;
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 20px 0px 0px 0px;
}
.btn:hover {
  background-color: #000 !important;
  color: #fff !important;
}
.btn-one:hover {
  background-color: #000 !important;
  color: #fff !important;
}



/* defult css working  */
.active {
    color: #ddd !important;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0px;
    left: 0;
    background-color: #ddd;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* nav design */
.nav-link {
    font-size: 20px;
    color: #000 !important;
    padding: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.nav-link:hover{
    color: #ddd !important;
}
/* banner area start  */
.inner-banner h1 {
  font-size: 50px;
  font-weight: 700;
  color: #000;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.inner-banner h2 {
  font-size: 35px;
  font-weight: 700;
  color: #000;
  font-style: normal;
  text-transform: uppercase;
}
/* socils area start */
.inner-socils {
  margin-top: 100px;
  list-style: none;
  padding-left: 0;
}
.inner-socils li {
  height: 100px;
  width: 100px;
}
.s-link {
  text-align: center;
  color: #000;
  margin-right: 50px;
  padding: 25px;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
}
.s-link:hover{
  background-color: #000;
  color: #fff;
  border-radius: 50%;
}
/* about area work */
.heading.text-center h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 800;
  font-style: normal;
}
.about-inner-caption p {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}